assets/Dataflow_Fraud_Demo_2026_cAI.json
{"flowContents":{"identifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","instanceIdentifier":"bc136ae8-019d-1000-0000-00002ced2cb6","name":"Dataflow Fraud Demo 2026 cAI","comments":"","position":{"x":200.0,"y":200.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ecb233ad-0fed-320a-b936-df6a48a1fde8","instanceIdentifier":"ee511c82-85e1-372d-bad3-5f706ad2ee5d","name":"ReplaceText","comments":"","position":{"x":1928.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"accessKey\": \"mpy13fze9aot3u5ghgtgj33tgo5atzk4\",\n  \"request\": $1\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"b60e4c31-745c-36b2-8a8b-53ecd167508f","instanceIdentifier":"522563a2-6dca-3ec5-9dbe-41e1d63c5d4b","name":"RouteOnAttribute","comments":"","position":{"x":712.0,"y":512.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Routing Strategy":"Route to Property name","fraud":"${decision:equals(\"REVIEW\")}","good":"${decision:equals(\"APPROVE\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fraud":{"name":"fraud","displayName":"fraud","identifiesControllerService":false,"sensitive":false,"dynamic":true},"good":{"name":"good","displayName":"good","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"8dcb0b29-18ad-3801-0000-0000351be912","instanceIdentifier":"72955b2c-1734-366f-ab51-e90e8622b971","name":"TXN1","comments":"","position":{"x":720.0,"y":936.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"8d70915b-41e7-3772-b806-cb7525cbb7e2","bootstrap.servers":"#{Kafka Broker Endpoint}","AWS Assume Role ARN":null,"sasl.kerberos.service.name":null,"AWS Role Source":"DEFAULT_PROFILE","partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"8d702d49-2032-35f4-a605-d621b71f6580","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"#{Kafka Producer ID}","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","max.request.size":"1 MB","SSL Context Service":"5c0cb7f9-68bb-3403-a94b-73797456525b","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","AWS Assume Role Session Name":null,"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"txn1","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Assume Role ARN":{"name":"AWS Assume Role ARN","displayName":"AWS Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Role Source":{"name":"AWS Role Source","displayName":"AWS Role Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Assume Role Session Name":{"name":"AWS Assume Role Session Name","displayName":"AWS Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"532247ce-adac-3e21-a96b-b43f868aeddd","instanceIdentifier":"fad8bc2a-dbba-304b-9043-b3bd53a2a3c5","name":"AttributesToJSON","comments":"","position":{"x":712.0,"y":712.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"transaction_id,account_id,amount,ts,lat,lon","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"b87c9f57-6cf3-3667-8faa-38f196484edf","instanceIdentifier":"40ccd3d4-2c34-3210-a064-371ce3eabaa0","name":"EvaluateJsonPath","comments":"","position":{"x":704.0,"y":304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Destination":"flowfile-attribute","risk_level":"$.response.risk_level","decision":"$.response.decision","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","fraud_score":"$.response.fraud_score","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"risk_level":{"name":"risk_level","displayName":"risk_level","identifiesControllerService":false,"sensitive":false,"dynamic":true},"decision":{"name":"decision","displayName":"decision","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fraud_score":{"name":"fraud_score","displayName":"fraud_score","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"ec0a2128-7948-3ecb-0000-00000814a2a8","instanceIdentifier":"8a3dd226-f962-3c93-9308-d4c43ab90838","name":"Set Attributes","comments":"","position":{"x":704.0,"y":112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","accessKey":"mpy13fze9aot3u5ghgtgj33tgo5atzk4","schema.name":"fintxn","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"accessKey":{"name":"accessKey","displayName":"accessKey","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"5a09a68b-3a4c-3322-9750-889ffb6bfbca","instanceIdentifier":"a3308877-4b4a-3adc-b1b6-6173b503c824","name":"NewTransactionGenerator","comments":"","position":{"x":72.0,"y":120.0},"type":"NewTransactionGenerator","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.2-SNAPSHOT"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"2 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"f8b19c9a-e788-3a73-ffff-ffff9af4936e","instanceIdentifier":"6ea4e9fd-b4b5-3f40-a815-87d29a3610dc","name":"TXN2","comments":"","position":{"x":1144.0,"y":936.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"8d70915b-41e7-3772-b806-cb7525cbb7e2","bootstrap.servers":"#{Kafka Broker Endpoint}","AWS Assume Role ARN":null,"sasl.kerberos.service.name":null,"AWS Role Source":"DEFAULT_PROFILE","partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"8d702d49-2032-35f4-a605-d621b71f6580","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"#{Kafka Producer ID}","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","max.request.size":"1 MB","SSL Context Service":"5c0cb7f9-68bb-3403-a94b-73797456525b","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","AWS Assume Role Session Name":null,"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"txn2","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Assume Role ARN":{"name":"AWS Assume Role ARN","displayName":"AWS Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Role Source":{"name":"AWS Role Source","displayName":"AWS Role Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Assume Role Session Name":{"name":"AWS Assume Role Session Name","displayName":"AWS Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"ebafd004-fd92-3e3e-8334-b493ad08ecb0","instanceIdentifier":"050e2254-33cc-36e0-a8e0-7dad20013287","name":"InvokeHTTP","comments":"","position":{"x":1312.0,"y":312.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://modelservice.ml-cc90c7e6-7e0.eng-ml-l.vnu8-sqze.cloudera.site/model","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"a0bfe318-5543-36c4-8007-ea30bf246de4","instanceIdentifier":"e96487b1-64c8-3641-8d0a-df5d6a8524a9","name":"SplitJson","comments":"","position":{"x":1312.0,"y":112.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"81fc2bfd-4172-319e-b456-52682e3de187","instanceIdentifier":"f687ee8c-47d0-3549-b89d-db4bc456ef01","name":"EvaluateJsonPath","comments":"","position":{"x":1928.0,"y":112.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"transaction_id":"$.transaction_id","Destination":"flowfile-attribute","amount":"$.amount","account_id":"$.account_id","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","lon":"$.lon","lat":"$.lat","Path Not Found Behavior":"ignore","ts":"$.ts"},"propertyDescriptors":{"transaction_id":{"name":"transaction_id","displayName":"transaction_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"amount":{"name":"amount","displayName":"amount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"account_id":{"name":"account_id","displayName":"account_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lon":{"name":"lon","displayName":"lon","identifiesControllerService":false,"sensitive":false,"dynamic":true},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ts":{"name":"ts","displayName":"ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"7639af1e-09fc-329d-8d94-50c4af49de43","instanceIdentifier":"2ad9dda5-1ada-3a65-bd87-cb39270f1eff","name":"txn_fraud","comments":"","position":{"x":344.0,"y":936.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{Kafka Brokers}","AWS Assume Role ARN":null,"sasl.kerberos.service.name":null,"AWS Role Source":"DEFAULT_PROFILE","kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","max.request.size":"1 MB","SSL Context Service":null,"sasl.token.auth":"false","Failure Strategy":"Route to Failure","AWS Assume Role Session Name":null,"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"txn_fraud","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Assume Role ARN":{"name":"AWS Assume Role ARN","displayName":"AWS Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Role Source":{"name":"AWS Role Source","displayName":"AWS Role Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Assume Role Session Name":{"name":"AWS Assume Role Session Name","displayName":"AWS Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#f43434"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"54e4d27c-13b0-3cf9-0000-0000132228d0","instanceIdentifier":"a0b7baf1-7e3b-3787-bdc9-5954f539b946","name":"AttributesToJSON","comments":"","position":{"x":344.0,"y":712.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"transaction_id,account_id,amount,ts,lat,lon,fraud_score,risk_level","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3499f6e1-a08c-3cff-8442-9e4bd18acc4b","instanceIdentifier":"1264f9ac-5733-330c-a744-de8cdb75f0a9","name":"","source":{"id":"ec0a2128-7948-3ecb-0000-00000814a2a8","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"Set Attributes","comments":"","instanceIdentifier":"8a3dd226-f962-3c93-9308-d4c43ab90838"},"destination":{"id":"a0bfe318-5543-36c4-8007-ea30bf246de4","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"SplitJson","comments":"","instanceIdentifier":"e96487b1-64c8-3641-8d0a-df5d6a8524a9"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"c26a7982-84de-3c05-8432-bef25212ec05","instanceIdentifier":"32568cc4-fb4d-38f9-b9cd-a86db9220c7c","name":"","source":{"id":"81fc2bfd-4172-319e-b456-52682e3de187","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f687ee8c-47d0-3549-b89d-db4bc456ef01"},"destination":{"id":"f8b19c9a-e788-3a73-ffff-ffff9af4936e","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"TXN2","comments":"","instanceIdentifier":"6ea4e9fd-b4b5-3f40-a815-87d29a3610dc"},"labelIndex":2,"zIndex":33,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2328.0,"y":184.0},{"x":2336.0,"y":992.0},{"x":2128.0,"y":992.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"104e954d-14d3-329f-a9ad-1798d15fe71c","instanceIdentifier":"12ff6625-a6d9-3af1-97eb-abd756c3adb3","name":"","source":{"id":"ecb233ad-0fed-320a-b936-df6a48a1fde8","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"ReplaceText","comments":"","instanceIdentifier":"ee511c82-85e1-372d-bad3-5f706ad2ee5d"},"destination":{"id":"ebafd004-fd92-3e3e-8334-b493ad08ecb0","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"InvokeHTTP","comments":"","instanceIdentifier":"050e2254-33cc-36e0-a8e0-7dad20013287"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"ec6318fb-c04a-35df-a5c0-c33b46d16589","instanceIdentifier":"621e037b-0801-33d9-af3f-d11a69ae143d","name":"","source":{"id":"b60e4c31-745c-36b2-8a8b-53ecd167508f","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"522563a2-6dca-3ec5-9dbe-41e1d63c5d4b"},"destination":{"id":"532247ce-adac-3e21-a96b-b43f868aeddd","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"AttributesToJSON","comments":"","instanceIdentifier":"fad8bc2a-dbba-304b-9043-b3bd53a2a3c5"},"labelIndex":0,"zIndex":22,"selectedRelationships":["good"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"829ca97d-5df7-364c-b0d6-743f2d39fd12","instanceIdentifier":"894759fd-6814-3305-b984-8653ad6a7e15","name":"","source":{"id":"81fc2bfd-4172-319e-b456-52682e3de187","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f687ee8c-47d0-3549-b89d-db4bc456ef01"},"destination":{"id":"8dcb0b29-18ad-3801-0000-0000351be912","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"TXN1","comments":"","instanceIdentifier":"72955b2c-1734-366f-ab51-e90e8622b971"},"labelIndex":2,"zIndex":34,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2304.0,"y":200.0},{"x":2312.0,"y":920.0},{"x":2136.0,"y":912.0},{"x":888.0,"y":904.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"d4fcef11-d444-3380-9272-21c3ebacbedc","instanceIdentifier":"4f642b60-bc89-3473-9473-c857da3c666b","name":"","source":{"id":"54e4d27c-13b0-3cf9-0000-0000132228d0","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"AttributesToJSON","comments":"","instanceIdentifier":"a0b7baf1-7e3b-3787-bdc9-5954f539b946"},"destination":{"id":"7639af1e-09fc-329d-8d94-50c4af49de43","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"txn_fraud","comments":"","instanceIdentifier":"2ad9dda5-1ada-3a65-bd87-cb39270f1eff"},"labelIndex":0,"zIndex":31,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"60f0d227-09fc-3d16-9ed5-0e413214cc54","instanceIdentifier":"bc214ad7-019d-1000-0000-00000960870c","name":"","source":{"id":"8dcb0b29-18ad-3801-0000-0000351be912","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"TXN1","comments":"","instanceIdentifier":"72955b2c-1734-366f-ab51-e90e8622b971"},"destination":{"id":"013d3dc0-283f-3e88-0000-00000814a2a8","type":"FUNNEL","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"Funnel","comments":"","instanceIdentifier":"95bb847e-f232-3731-b586-f6719d4fea6b"},"labelIndex":0,"zIndex":35,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"5fe138e7-dbe7-364b-9a66-88a29716dd9a","instanceIdentifier":"ccb274e0-d7d0-34ec-9119-698202be00f3","name":"","source":{"id":"7639af1e-09fc-329d-8d94-50c4af49de43","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"txn_fraud","comments":"","instanceIdentifier":"2ad9dda5-1ada-3a65-bd87-cb39270f1eff"},"destination":{"id":"013d3dc0-283f-3e88-0000-00000814a2a8","type":"FUNNEL","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"Funnel","comments":"","instanceIdentifier":"95bb847e-f232-3731-b586-f6719d4fea6b"},"labelIndex":0,"zIndex":32,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":528.0,"y":1104.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"aaee0835-b307-397c-a7ec-68302924d543","instanceIdentifier":"f1acde7e-c3d7-330e-b918-598ea91e372f","name":"","source":{"id":"81fc2bfd-4172-319e-b456-52682e3de187","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f687ee8c-47d0-3549-b89d-db4bc456ef01"},"destination":{"id":"ecb233ad-0fed-320a-b936-df6a48a1fde8","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"ReplaceText","comments":"","instanceIdentifier":"ee511c82-85e1-372d-bad3-5f706ad2ee5d"},"labelIndex":0,"zIndex":18,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"955fe3f7-57c9-3dd9-878d-0945a9194646","instanceIdentifier":"9d77966d-2868-35dd-a3dc-e643195aef5d","name":"","source":{"id":"b60e4c31-745c-36b2-8a8b-53ecd167508f","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"522563a2-6dca-3ec5-9dbe-41e1d63c5d4b"},"destination":{"id":"54e4d27c-13b0-3cf9-0000-0000132228d0","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"AttributesToJSON","comments":"","instanceIdentifier":"a0b7baf1-7e3b-3787-bdc9-5954f539b946"},"labelIndex":0,"zIndex":27,"selectedRelationships":["fraud"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":520.0,"y":584.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"116b779d-670c-3f91-beb6-84b0e48c7a0c","instanceIdentifier":"bc2252ab-019d-1000-ffff-ffffb83cb83e","name":"","source":{"id":"f8b19c9a-e788-3a73-ffff-ffff9af4936e","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"TXN2","comments":"","instanceIdentifier":"6ea4e9fd-b4b5-3f40-a815-87d29a3610dc"},"destination":{"id":"013d3dc0-283f-3e88-0000-00000814a2a8","type":"FUNNEL","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"Funnel","comments":"","instanceIdentifier":"95bb847e-f232-3731-b586-f6719d4fea6b"},"labelIndex":0,"zIndex":36,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"7c616f7e-c73a-3c1b-94fd-38356e3f3b14","instanceIdentifier":"ce5f44ea-f0ff-3f7c-82db-2cac5f931ed0","name":"","source":{"id":"a0bfe318-5543-36c4-8007-ea30bf246de4","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"SplitJson","comments":"","instanceIdentifier":"e96487b1-64c8-3641-8d0a-df5d6a8524a9"},"destination":{"id":"81fc2bfd-4172-319e-b456-52682e3de187","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f687ee8c-47d0-3549-b89d-db4bc456ef01"},"labelIndex":0,"zIndex":30,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"c9a1eaa9-06bd-3bef-b918-4a06cfcaa58c","instanceIdentifier":"c5a19409-191f-3b57-9183-57a36e37d9b2","name":"","source":{"id":"ebafd004-fd92-3e3e-8334-b493ad08ecb0","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"InvokeHTTP","comments":"","instanceIdentifier":"050e2254-33cc-36e0-a8e0-7dad20013287"},"destination":{"id":"b87c9f57-6cf3-3667-8faa-38f196484edf","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"40ccd3d4-2c34-3210-a064-371ce3eabaa0"},"labelIndex":0,"zIndex":19,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"246bcdf2-b3d1-3087-8114-74a8b4384468","instanceIdentifier":"2ad9078c-4501-3438-beda-a6f2143a9c3b","name":"","source":{"id":"b87c9f57-6cf3-3667-8faa-38f196484edf","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"40ccd3d4-2c34-3210-a064-371ce3eabaa0"},"destination":{"id":"b60e4c31-745c-36b2-8a8b-53ecd167508f","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"522563a2-6dca-3ec5-9dbe-41e1d63c5d4b"},"labelIndex":0,"zIndex":20,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"7f41cede-706a-3255-ab1c-99f482003a3d","instanceIdentifier":"665afe59-571b-35e1-9a9e-980595b00738","name":"","source":{"id":"5a09a68b-3a4c-3322-9750-889ffb6bfbca","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"NewTransactionGenerator","comments":"","instanceIdentifier":"a3308877-4b4a-3adc-b1b6-6173b503c824"},"destination":{"id":"ec0a2128-7948-3ecb-0000-00000814a2a8","type":"PROCESSOR","groupId":"6891ad38-0112-3907-8fc4-7f0a623ddfa3","name":"Set Attributes","comments":"","instanceIdentifier":"8a3dd226-f962-3c93-9308-d4c43ab90838"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"}],"labels":[],"funnels":[{"identifier":"013d3dc0-283f-3e88-0000-00000814a2a8","instanceIdentifier":"95bb847e-f232-3731-b586-f6719d4fea6b","position":{"x":1052.668212890625,"y":1152.9381103515625},"componentType":"FUNNEL","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"}],"controllerServices":[{"identifier":"71406201-e3d4-385a-a196-041eedea3b64","instanceIdentifier":"a1803ebb-6dce-37dc-8c79-9dc705c71407","name":"Avro_Message_Writer","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"50a3f371-1689-3463-a29b-e6504b98af67","schema-access-strategy":"schema-name","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"23dce7e5-63f5-39ac-9874-378aaf2c11b1","instanceIdentifier":"e28f0de7-a6de-33ac-a3b4-537eaa18e8a6","name":"JSON_Message_Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"#{Schema Name}","schema-registry":"50a3f371-1689-3463-a29b-e6504b98af67","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"c24c71d1-bca1-3f65-beec-e656195e022e","instanceIdentifier":"ce10a2fb-3de6-38ba-985e-cc2143e34d1a","name":"Avro_Message_Reader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"50a3f371-1689-3463-a29b-e6504b98af67","schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"581bfec1-834c-3e3f-87f1-67a28cdc2f3c","instanceIdentifier":"e28676ab-5db1-3da0-877b-12b4272dda42","name":"CSV_Message_Writer","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"false","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":"50a3f371-1689-3463-a29b-e6504b98af67","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":"#{CSV Delimiter}","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"#{Schema Name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"5c0cb7f9-68bb-3403-a94b-73797456525b","instanceIdentifier":"bc13767b-019d-1000-ffff-ffffc6f12a78","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}},{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bc136ae8-019d-1000-0000-00002ced2cb6"},{"identifier":"dd3430bf-bbc4-3f5b-a914-ca6df9b7765c","instanceIdentifier":"4f12241e-afa5-3371-b032-283efe6d1a04","name":"Parameterized_Record_Reader","comments":"","type":"org.apache.nifi.lookup.ReaderLookup","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"CSV":"b62521e4-4888-3637-98ff-372a38b5e753","JSON":"8d702d49-2032-35f4-a605-d621b71f6580","AVRO":"c24c71d1-bca1-3f65-beec-e656195e022e","Service to Use":"#{Data Input Format}"},"propertyDescriptors":{"CSV":{"name":"CSV","displayName":"CSV","identifiesControllerService":true,"sensitive":false,"dynamic":true},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":true,"sensitive":false,"dynamic":true},"AVRO":{"name":"AVRO","displayName":"AVRO","identifiesControllerService":true,"sensitive":false,"dynamic":true},"Service to Use":{"name":"Service to Use","displayName":"Service to Use","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"8d702d49-2032-35f4-a605-d621b71f6580","instanceIdentifier":"fda7a519-7b8d-31bd-8a20-f569f0e7112e","name":"JSON_Message_Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"#{Schema Name}","starting-field-strategy":"ROOT_NODE","schema-registry":"50a3f371-1689-3463-a29b-e6504b98af67","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"50a3f371-1689-3463-a29b-e6504b98af67","instanceIdentifier":"2f489148-2646-3591-9b2f-4675e66cf805","name":"ClouderaSchemaRegistry","comments":"","type":"com.cloudera.nifi.schemaregistry.ClouderaSchemaRegistry","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-cloudera-schema-registry-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"cache-expiration":"1 hour","ssl-context-service":"5c0cb7f9-68bb-3403-a94b-73797456525b","cache-size":"1000","kerberos-user-service":"7f7bd256-7a47-38ba-a299-af71071766c8","basic-auth-username":null,"url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"8d70915b-41e7-3772-b806-cb7525cbb7e2","instanceIdentifier":"9f91cc11-6d21-38c7-a88e-fb8787eb5c84","name":"Parameterized_Record_Writer","comments":"","type":"org.apache.nifi.lookup.RecordSetWriterLookup","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"CSV":"581bfec1-834c-3e3f-87f1-67a28cdc2f3c","JSON":"23dce7e5-63f5-39ac-9874-378aaf2c11b1","AVRO":"71406201-e3d4-385a-a196-041eedea3b64","Service to Use":"#{Data Output Format}"},"propertyDescriptors":{"CSV":{"name":"CSV","displayName":"CSV","identifiesControllerService":true,"sensitive":false,"dynamic":true},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":true,"sensitive":false,"dynamic":true},"AVRO":{"name":"AVRO","displayName":"AVRO","identifiesControllerService":true,"sensitive":false,"dynamic":true},"Service to Use":{"name":"Service to Use","displayName":"Service to Use","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"b62521e4-4888-3637-98ff-372a38b5e753","instanceIdentifier":"19134986-5615-3e4b-8dbe-e95b615bfcfb","name":"CSV_Message_Reader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":"#{CSV Delimiter}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"#{Schema Name}","schema-registry":"50a3f371-1689-3463-a29b-e6504b98af67","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"},{"identifier":"7f7bd256-7a47-38ba-a299-af71071766c8","instanceIdentifier":"a446c8a5-5aed-3c99-9824-6b40bdd7b6fc","name":"KerberosPasswordUserService","comments":"","type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"2.6.0.4.3.4.0-234"},"properties":{"Kerberos Password":"#{CDP Workload User Password}","Kerberos Principal":"#{CDP Workload User}"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.3.4.0-234"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6891ad38-0112-3907-8fc4-7f0a623ddfa3"}],"parameterContextName":"kafka-filter-to-kafka","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"kafka-filter-to-kafka":{"name":"kafka-filter-to-kafka","parameters":[{"name":"Data Output Format","description":"Specify the desired format for your output data. You can use \"CSV\", \"JSON\" or \"AVRO\" with this ReadyFlow.","sensitive":false,"provided":false,"value":"JSON"},{"name":"CDP Workload User Password","description":"Specify the password of the Cloudera machine user or workload user you are using to authenticate against Kafka.","sensitive":true,"provided":false},{"name":"Schema Registry Hostname","description":"Specify the hostname of the Schema Registry you want to connect to. This must be the direct hostname of the Schema Registry itself, not the Knox Endpoint.","sensitive":false,"provided":false,"value":"srm-kafka-master0.se-sandb.a465-9q4k.cloudera.site"},{"name":"CDP Workload User","description":"Specify the Cloudera machine user or workload user name that you want to use to authenticate to Kafka. Ensure this user has the appropriate access rights to the source and destination Kafka topics.","sensitive":false,"provided":false,"value":"steven.matison"},{"name":"Kafka Producer ID","description":"Specify the id for the Kafka producer writing into the destination topic.","sensitive":false,"provided":false,"value":"test"},{"name":"Filter Rule","description":"Specify the filter rule expressed in SQL to filter streaming events for the destination topic. Records matching the filter will be written to the destination topic. The default value forwards all records.","sensitive":false,"provided":false,"value":"SELECT * FROM FLOWFILE"},{"name":"CSV Delimiter","description":"If your source data is CSV, specify the delimiter here.","sensitive":false,"provided":false,"value":","},{"name":"Data Input Format","description":"Specify the format of your input data. You can use \"CSV\", \"JSON\" or \"AVRO\" with this ReadyFlow.","sensitive":false,"provided":false,"value":"JSON"},{"name":"Kafka Broker Endpoint","description":"Specify the Kafka bootstrap servers string as a comma separated list.","sensitive":false,"provided":false,"value":"srm-kafka-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093, srm-kafka-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093, srm-kafka-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093"},{"name":"Schema Name","description":"Specify the schema name to be looked up in the Schema Registry.","sensitive":false,"provided":false,"value":"fintxn"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}